{% extends 'base.html' %}
{% load static %}
<html>
  <head>
    {% block head %}
    <title>Add Products</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/home"><h2>Communication <em>Portal</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if user.username == "admin" %}
                <li class="nav-item active">
                <a class="nav-link" href="">Add
                </a>
              </li>
              {% endif %} 
              <li class="nav-item">
                <a class="nav-link" href="/home">Home
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/videos">Videos</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/products">Products</a>
              </li>
              <!-- <li class="nav-item ">
                <a class="nav-link" href="/real-estate">Real Estate</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class=" header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
            </div>
          </div>
        </div>
      </div>
    </div>

    
    <div style="padding-bottom: 30px;" class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                  <li class="active" data-filter="*">All Products</li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a ><img width='350' height="200" src="{{ MEDIA_URL }}{{ product.image }}" alt=""></a>
                        <div class="down-content">
                          <a ><h4>{{product.name}}</h4></a>
                          <h6>${{product.price}}</h6>
                          <p>{{product.description}}</p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <input multiple type="file" name="image" accept="image/*" required id="id_image">
                        <div >
                        <p><input type="text" placeholder="Product Name" name="name" maxlength="50" required id="id_name"></p>
                          <p>$<input type="number" placeholder="Price" name="price" required id="id_price"></p>
                          <p><input type="text" placeholder="Description" name="description" maxlength="500" required id="id_description"></p>
                        </div>
                      </div>
                      <input type="submit" value="Upload"/>
                    </div>
                    </form>
                  </div>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages">
              {% if products.has_previous %}
                <li><a href="?page={{products.number|add:'-1'}}"><i class="fa fa-angle-double-left"></i></a></li>
                <li><a href="?page={{products.number|add:'-1'}}">{{products.number|add:'-1'}}</a></li>
              {% endif %}
              <li class="active"><a href="?page={{products.number}}">{{products.number}}</a></li>
              {% if products.has_next %}
                <li><a href="?page={{products.number|add:'1'}}">{{products.number|add:'1'}}</a></li>
                <li><a href="?page={{products.number|add:'1'}}"><i class="fa fa-angle-double-right"></i></a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}


  </body>

</html>
