{% extends 'base.html' %}
{% load static %}
<html>
  <head>
    {% block head %}
    <title>Legal</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/home"><h2>Communication <em>Portal</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/home">Home
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="/videos">Videos</a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="/products">Our Products</a>
              </li>
              <!-- <li class="nav-item ">
                <a class="nav-link " href="/real-estate">Real Estate</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    
    <div class=" header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
              </div>
            </div>
          </div>
        </div>
    </div>
    
    <div style="padding-bottom: 30px;" class="products">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="filters">
                <ul>
                    <li class="active" data-filter="*">Legal</li>
                </ul>
              </div>
              <div class="row">
              <span>{{legal.description}}</span>
            </div>
            </div>
          </div>
          {% if user.username == "admin" %}
          <form method="POST">
              {% csrf_token  %}
              <textarea style = "width: 60vw;height: 10vh;" type="text" name="description" value="{{legal.description}}" ></textarea>
              <input type="submit" value="Change">
          </form>
          {% endif %}
        </div>
    </div>
      <!-- TradingView Widget BEGIN -->

<!-- TradingView Widget END -->
    {% endblock %}


  </body>

</html>
