{% load static %}
<html>
<head>
    <title>Log in</title>
  <link rel="stylesheet" href="{% static 'home/css/main.min.css' %}">
</head>

<body class="mobile-shift" style="background-color: #a2ca28;">
<section>
    <div class="fixed-navbar">

        <div class="navbar-lockup">

            <div class="logo">

                <!-- <a href=""><img src="{% static 'home/img/logo.png' %}" alt="Fitness"></a> -->
                <h2 style="color: #fc2103;">Diet-Monitor</h2>

            </div>

            <ul class="nav">

                <li><a href="">About</a></li>
                <li><a href="">How It Works</a></li>
                <li><a href="/monitor/">Monitor</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="login/">Log in</a></li>
            </ul>

        </div>

    </div>
</section>
</body>
</html>