{% extends 'base.html' %}
{% load static %}
<html>
  <head>
    {% block head %}
    <title>Product Details</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/home"><h2>Communication <em>Portal</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="/products/">Back
                  </a>
                </li> 
              </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <div class=" header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="best-features about-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Product Description</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="{{ MEDIA_URL }}{{ product.image }}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>{{ product.name }}</h4>
              <p>{{ product.description }}</p>
              <ul class="social-icons">
              <li><h4>Price : ${{ product.price }}</h4></li>
            </li><input type="button" value="Buy Now"></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

  </body>

</html>
